<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My MovieWeb App</title>
    <i class="fa-solid fa-film"></i>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>My MovieWeb App</h1>
    </header>

    <!-- MAIN CONTENT -->
    <main class="container">
        {% block content %}
        <!--
        Platzhalter für den spezifischen Inhalt der Seite.
        Jede Child-Template kann hier eigenen Inhalt einfügen.
        -->
        {% endblock %}
    </main>
    <section class="extra-form">
        {% block extra_form %}
        {% endblock %}
    </section>














    <!-- FOOTER -->
    <footer>
        <p>&copy; 2025 Paulzpaulus</p>
    </footer>

</body>

</html>
